.quote {
  
  h1 {
    font-family: "zapfino";
    text-align: center;
    font-size: 16px;
    margin-bottom: -20px;
  }
  
  blockquote {
    font-size: 36px;
    font-family: "copperplate";
    margin-bottom: 10px;
    position: relative;
  }
  
  cite {
    display: block;
    width: 100%;
    text-align: right;
    
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
}