<section class="twitter_mentions">
  <h1 class="hatched">Twitter Mentions</h1>
  <ol>
    <li>
      <span class="name">Andrew White</span><span class="username">pixeltrix</span>
      <span class="text">@lazyatom ouch, I think I'll wait for the 12.04 GM before trying to upgrade any of my VPSs</span>
    </li>
    <li>
      <span class="name">Paul Wright</span><span class="username">wrighty</span>
      <span class="text">@lazyatom That's ruined my evening. How. What. I don't know where to start.</span>
    </li>
    <li>
      <span class="name">Some Dude</span><span class="username">twit_zilla</span>
      <span class="text">Arduino Daily is out! http://bit.ly/f16rZs ▸ Top stories today via @criminal_4k @cloud_design_be @fortysevenfx @lazyatom @toshihongo</span>
    </li>
  </ol>
</section>