<section class="welcome">
  <h1>Good <%= period_of_day.capitalize %>, James!</h1>
  <p>It's <%= @forecast[:now][:temperature]%>&deg;C outside, and you don't need your umbrella today.</p>
  <p>There are some delays on the Circle line at the moment &mdash; you might want to check TFL before heading to the station.</p>
</section>