<div class="paper">
  <div class="content">
    <h1>Whoops!</h1>
    <p>Looks like you made a request to preview or print without including either a <tt>content</tt> or <tt>url</tt> parameter.</p>
    <p>To find out how to work with a printer backend server, please <a href="https://github.com/freerange/printer/wiki/API">check the API documentation</a>.</p>
    <p>To get your <em>print URL</em>, make sure you're on the same network as your printer and <a href="/printers">click here</a>.</p>
  </div>
</div>
