<div class="paper">
  <div class="content">
    <% @prints.each do |print| %>
      <section class="print">
        <p>Printed: <%= print.created_at %></p>
        <img src="/archive/<%= @printer.id %>/image/<%= print.id %>.png" />
      </section>
    <% end %>
  </div>
</div>