<div class="paper">
  <div class="content archive">
    <% @prints.each do |print| %>
      <section class="print">
        <div class="metadata">
          <p>Printed: <%= print.created_at %></p>
        </div>
        <a href="/archive/<%= @printer.id %>/image/<%= print.guid %>.png" />Image</a>
      </section>
    <% end %>
  </div>
</div>
