<div class="paper">
  <div class="content">
    <header>
      <p class="date"><%= Time.now.strftime("%A %d %B %Y") %></p>
      <p class="timestamp">Printed at <%= Time.now.strftime("%l:%M%P").strip %></p>
    </header>
    <div class="explanation">
      <h1>Getting a printer</h1>
      <p>Printer is open-source, which means you can buy the bits to put one together yourself.</p>
      <p>For the moment, the best information is in the <a href="https://github.com/freerange/printer.git">README on github<a/> (where, incidentally, you'll also find the source code for me).</p>
      <p>&laquo; <a href="/">back</a></p>
    </div>
  </div>
</div>