<div class="controls">
  <a href="/print_from_page/1">Print this</a>
  <a href="/preview">Preview this</a>
</div>
<div class="paper">
  <div class="content">
    <%= erb :header %>
    <% [:welcome, :weather].each do |section| %>
      <%= erb :"sections/#{section}" %>
    <% end %>
  </div>
</div>