<div class="paper scrollprinter">
  <div class="content">
    <header>
      <p class="date"><%= Time.now.strftime("%A %d %B %Y") %></p>
      <p class="timestamp">Printed at <%= Time.now.strftime("%l:%M%P").strip %></p>
    </header>
    <div class="explanation">
      <h1>Hello!</h1>
      <p>I am the Printer backend server.</p>
      <p>I am a conduit for connecting &ldquo;printers&rdquo; to content publishers.</p>
      <p>You send me requests with a URL and printer ID; I take care of turning the content at that URL into data suitable for the printer, and putting it where that specific printer can find it.</p>
      <p>Simple!</p>
      <p>Here's <a href="https://github.com/freerange/printer/wiki/Making-your-own-printer">how to build a compatible printer</a>.</p>
      <p>You can <a href="https://github.com/freerange/printer/wiki/API">read more about the API</a> too.
      <h2>So&hellip; yeah?</h2>
      <p>I get the content for printing from the URL you give me.</p>
      <p>Like any webpage, the content at that URL can be dynamic. When I make the request to render your URL, your page could be:</p>
      <ul>
      <li>Fetching weather data and rendering a forecast</li>
      <li>Generating a todo list</li>
      <li>Showing upcoming meetings from an online calendar</li>
      <li>All of the above, and more!</li>
      </ul>
      <p>It can have any content you like on it; the only limits are your imagination and the gentle constraints of the media (low-fi black and white thermal printing).</p>
      <p>Why not schedule some software of your own to automatically post me URLs on a schedule? How about, say, getting a London Underground status report ready for the printer just before 8am?</p>
      <h2>Making the content</h2>
      <p>You can use the <strong><a href="http://printer-mail.herokuapp.com">Printer-Mail</a></strong> project as a basis for your application, or the <a href="/sample.html">sample HTML page</a> as the basis for one-off tests; you can also find the core print stylesheet <a href="/stylesheets/print.css">here</>.</p>
    </div>
  </div>
</div>