<!doctype html>
<html class="no-js" lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/printer.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <title>Printer Backend Server</title>
    <%= analytics %>
  </head>
  <body>
    <div class="container">
      <div class="system_info">
        <a href="http://gofreerange.com/printer"><img src="/images/gfr_logo.png"/></a>
        <h1>Printer Backend</h1>
        <p><a href="http://gofreerange.com/printer">A Go Free Range thing.</a></p>
        <p>System status: <em>ONLINE</em></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
