<!doctype html>
<html class="no-js" lang="en">
<head>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/stylesheets/wee_printer.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/javascripts/weather.js"></script>
<title>Wee Printer Preview</title>
</head>
<body class="preview">
  <%= yield %>
</body>
</html5>