<div class="info">
  <p>This is a preview of how <a href="<%= @preview.original_url %>">your page</a> will look when printed.</p>
  <p>It's only an approximation, but should be useful for tweaking and adjusting.</p>
</div>

<div class="paper">
  <div class="content">
    <img src="<%= @preview.image_path %>">
  </div>
</div>