<div class="paper">
  <div class="content">
    <div class="loading">
      <p>Loading preview&hellip;</p>
      <img src="/images/loading.gif" />
      <p class="refresh">(automatically refreshes every 5 seconds; <a href="">refresh manually</a>)</p>
    </div>
  </div>
</div>

<script>
  $(function() {
    setTimeout(function() {
      window.location.reload();
    }, 5000);
  })
</script>