<html>
<head>
<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body class="preview">
  <div class="paper">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>