body {
  margin: 0;
  padding: 0;
  font-family: "arial rounded mt bold";
  background-color: #ccc;
}

.system_info {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 200px;
  color: #999;
  text-align: center;

  h1 {
    margin: 0 0 10px 0;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  a {
    position: relative;
  }
}

.info, .controls {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 200px;
  padding: 1em;
}

.info {
  background-color: #eee;
}

.controls {
  a {
    color: #999;
  }
}

header {
  font-size: 14px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  overflow: auto;

  p {
    padding: 0;
    margin: 0;

    &.date {
      float: left;
    }
    &.timestamp {
      float: right;
    }
  }
}

.content {
/*  -webkit-font-smoothing: none;*/

  width: 384px;
  overflow: hidden;
  margin: 0 auto;

  background-color: white;
  font-size: 22px;

  .explanation {
    h1 {
      font-size: 52px;
      margin: 10px 0;
    }
    h2 {
      margin: 10px 0;
    }
    p, ul {
      font-size: 18px;
      font-weight: normal;
    }
    pre {
      font-size: 16px;
      word-wrap: break-word;
    }
  }
}

.paper {
  background-color: white;
  width: 440px;
  padding-top: 25px;
  padding-bottom: 50px;
  margin: 30px auto;
  box-shadow: 10px 10px 5px rgba(40,40,40,0.5);
}

.loading {
  text-align: center;
  font-size: 32px;

  .refresh {
    margin: 2em 0 0 0;
    font-size: 16px;
  }
}

.paper.scrollprinter {
  margin-top: 10em;
  margin-bottom: 10em;
}

.printerfront, .printerback {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;

  .drawing {
    width: 600px;
    margin: 0 auto;

    canvas {
      width: 600px;
    }
  }
}

.printerback {
  z-index: -1;
}

.printerfront {
  z-index: 1000;
}

.test_page {
  .print_url {
    font-size: 14px;
  }
}

.my_printer {
  .print_url {
    font-size: 12px;
  }

  label, input, textarea {
    display: block;
    font-weight: normal;
    font-size: 14px;
  }

  input[type=text], textarea {
    width: 97%;
  }

  textarea {
    height: 100px;
  }
}

.archive {
  .print {

    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }

    .metadata {
      font-size: 14px;
      font-family: sans-serif;
      color: #ccc;
      margin-bottom: 0.5em;

      p {
        margin: 0;
      }
    }

    img {
      border-top: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
    }
  }
}