body {
  margin: 0;
  padding: 0;
  font-family: "arial rounded mt bold";
  background-color: #ccc;
}

.system_info {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  background-color: #ABD3A8;
  color: #fff;
  padding: 1em;
  box-shadow: 13px 13px 20px #888;
  text-align: center;

  h1 {
    margin: 0 0 10px 0;
  }
  img {
    width: 100%;
  }
}

.info {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  background-color: #eee;
  padding: 1em;
}

header {
  font-size: 14px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  overflow: auto;

  p {
    padding: 0;
    margin: 0;

    &.date {
      float: left;
    }
    &.timestamp {
      float: right;
    }
  }
}

.content {
/*  -webkit-font-smoothing: none;*/
  width: 384px;
  overflow: hidden;
  margin: 0 auto;

  background-color: white;
  font-size: 22px;

  .explanation {
    h1 {
      font-size: 52px;
      margin: 10px 0;
    }
    h2 {
      margin: 10px 0;
    }
    p, ul {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.paper {
  background-color: white;
  width: 440px;
  padding-top: 25px;
  padding-bottom: 50px;
  margin: 30px auto;
  box-shadow: 10px 10px 5px #888;
}

.loading {
  text-align: center;
}